.main-content {
	margin: 5%;
}

.info-title {
	margin-top: 2.5%;
}

.section-accordion {
	margin-top: 2%;
	margin-right: 4%;
}

.info-paragraph {
	margin-top: 1%;
}

.instructions-divitions {
	display: flex;
	margin-bottom: 1%;
	margin-top: 2%;
}

.instructions-paragraph {
	margin-bottom: 2%;
	margin-top: 0.5%;
}

.btn {
	margin-top: 2%;
}

.textarea-label {
	margin-top: 1%;
	font-size: 120%;
	margin-left: 0.1%;
}

.top-input {
	margin-top: 4%;
}

.information {
	margin-left: 1%;
}

.info-sub {
	margin-left: 2%;
}

.result-section {
	margin-top: 5%;
}

.result-title {
	font-size: 115%;
	margin-left: 0.1%;
	margin-top: -2%;
}

.comment {
	color:	limegreen;
}

.divition-input {
	display: flex;
}

.input-left {
	width: 80%;
}

.input-right {
	margin-top: 3.5%;
	width: 20%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.sub-input {
	font-size: 90%;
	color: gray;
}

.input-group {
	margin-top: 5%;
	padding-right: 40%; 
}

.result-content {
	margin-top: 0.5%;
}

.space-result {
	margin: 2.5%;
}

.algorithm {
	padding-right: 91%;
}

.command-error {
	color: red;
}