.main-content {
	margin: 5%;
}

.section-accordion {
	margin-top: 2%;
	margin-right: 4%;
}

.btn {
	margin-top: 2%;
}

.textarea-label {
	font-size: 120%;
	margin-left: 0.1%;
}

.informationo {
	margin-left: 1%;
}

.info-sub {
	margin-bottom: 2%;
}

.result-section {
	margin-top: 5%;
}

.result-title {
	font-size: 115%;
	margin-left: 0.1%;
}

.comment {
	color:	limegreen;
}

.divition-input {
	display: flex;
}

.input-left {
	width: 80%;
}

.input-right {
	margin-top: 3.5%;
	width: 20%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.sub-input {
	font-size: 90%;
	color: gray;
}